body {
	margin: auto 0;
	font-family: 'Thasadith', sans-serif;
	background-color:black;
background-image:
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.container {
	display: flex;
	flex-direction: column;
	text-align: center;
	height: 100vh;
	align-items: center;
}

.list-group {
	width: 30vw;
	height: 50vh;
}

h1 {
	color: #fff;
	font-weight: 900;
}

h3 {
	color: #fff;
	margin-bottom: 0;
}

button {
	height: 3rem;
	width: 9rem;
	align-self: center;
	border-radius: 3rem !important;
	border: none;
	font-size: 2.5rem;
	display: inline-block;
	word-wrap: break-word;
	background: #718EA4;
	color: #042037;
	padding: 1rem;
}

button:hover {
	opacity: 0.8;
}

button:active {
	transform: translateY(4px);
	border: none;
	outline-style: none;
}

@media (max-width: 500px) { 
	button {font-size: 1.5rem}
}

h2 {
	color:  #fff;
}

p {
	color:#fff;
	font-size: 2rem;
}

.list-group{
	flex-direction: column;
	align-items: stretch;
}

li {
	list-style: none;
	font-size: 2rem;
	font-weight: 800;
}

@media (max-width: 60rem) { 
	.list-group { width: 50vh; height: 80vh;}
	li {font-size: 3.5rem}
}
